@charset "utf-8";

/*=========================Reset_start==========================*/

body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}

html,body{font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;background: #fff;}

ul,ol{list-style: none;}

img{border: 0;}

input,select,textarea{outline:0;}

textarea{resize:none;}

table{border-collapse: collapse; border-spacing: 0;}

th,strong,var,em{font-weight: normal; font-style: normal;}

a{text-decoration: none;-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;}
pre{white-space:pre-wrap;
    word-wrap:break-word;}
/*a:link,a:visited,a:hover,a:active{text-decoration:none;} */

/*==========================Reset_End===========================*/

